/*style for logos*/
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: width;
}
.logo p{
    text-align: center;
    font-size: 40px;
}

/*style for the rows of brands*/
.brandrows{
    width: 46%;
    height: 10%;
    margin: 0%;
    border: solid 6px;
    position: relative;
    display: inline-table;
}
.brandrows img{
    width: 80%;
    height: 80%;
    margin: 10%;
    position: relative;
    align-self: center;
}
.brandrows p{
    text-align: center;
}

/*style for the input form*/
.inputform textarea{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 30%;
    width: 40%;
}
.inputform button{
    position: relative;
    left: 30%;
    width: 40%; 
    height: 60px;
}
.inputform h1{
    text-align: center;
}

/*Style for footer*/
.footerstyle{
    width: 100%;
    height: 80px;
    background-color: black;
}
.footerstyle img{
    height: 100%;
    width: height;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}